.App {
  text-align: center;
}

form{
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

label{
  margin: 2vh 0;
}

input{
  margin-left: 2vw;
  border-radius: 3px;
  padding: 0.5vw 0.5vw;
}